/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Id]
      ,[SymbolId]
      ,[Symbol]
      ,[Date]
      ,[Close]
      ,[SMA20]
      ,[SMA50]
      ,[SMA200]
      ,[StandardDeviation]
      ,[UpperBand]
      ,[LowerBand]
      ,[BandRatio]
      ,[Volume]
      ,[SlopeClose]
      ,[Slope20]
      ,[Slope50]
      ,[Slope200]
      ,[SlopeStandardDeviation]
      ,[SlopeUpperBand]
      ,[SlopeLowerBand]
      ,[SlopeBandRatio]
      ,[RatioClose]
      ,[Ratio20]
      ,[Ratio50]
      ,[Ratio200]
      ,[RatioStandardDeviation]
      ,[RatioUpperBand]
      ,[RatioLowerBand]
      ,[RatioBandRatio]
  FROM [ScanOpts].[dbo].[SlopeAndBBCounts]
  --WHERE Symbol = 'NVDA'