/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [ScanOpts].[dbo].[Quotes]
  WHERE Id > 1384 -- 1324 --1264 --  988 -- 928 -- 868 -- 808 --748 -- 688  -- 628 -- 568 --508
  
  --DELETE [ScanOpts].[dbo].[Quotes]
  --WHERE Id > 446
  

  --DELETE 
  --FROM [ScanOpts].[dbo].[Quotes]
  --WHERE Id > 1048 AND Id < 1265