/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Id]
      ,[QuoteId]
      ,[CallOrPut]
      ,[Symbol]
      ,[ExpirationRaw]
      ,[StrikeRaw]
      ,[ExpirationFmt]
      ,[ExpirationLongFmt]
      ,[StrikeFmt]
      ,[StrikeLongFmt]
      ,[Date]
      ,[PercentChangeRaw]
      ,[PercentChangeFmt]
      ,[PercentChangeLongFmt]
      ,[OpenInterestRaw]
      ,[OpenInterestFmt]
      ,[OpenInterestLongFmt]
      ,[ChangeRaw]
      ,[ChangeFmt]
      ,[ChangeLongFmt]
      ,[inTheMoney]
      ,[ImpliedVolatilityRaw]
      ,[ImpliedVolatilityFmt]
      ,[ImpliedVolatilityLongFmt]
      ,[VolumeRaw]
      ,[VolumeFmt]
      ,[VolumeLongFmt]
      ,[contractSymbol]
      ,[AskRaw]
      ,[AskFmt]
      ,[AskLongFmt]
      ,[LastTradeDateRaw]
      ,[LastTradeDateFmt]
      ,[LastTradeDateLongFmt]
      ,[contractSize]
      ,[currency]
      ,[BidRaw]
      ,[BidFmt]
      ,[BidLongFmt]
      ,[lastPrice_raw]
      ,[lastPrice_fmt]
      ,[lastPrice_longFmt]
      ,[LastPriceRaw]
      ,[LastPriceFmt]
      ,[LastPriceLongFmt]
  FROM [ScanOpts].[dbo].[CallPuts]
  WHERE Id > 177115
  