/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Symbol]
      ,[Date]
      ,[Exchange]
      ,[QuoteType]
      ,[QuoteSourceName]
      ,[Currency]
      ,[MarketState]
      ,[ShortName]
      ,[Market]
      ,[LongName]
      ,[PreMarketChangePercent]
      ,[PreMarketTime]
      ,[PreMarketPrice]
      ,[PreMarketChange]
      ,[PostMarketChangePercent]
      ,[PostMarketTime]
      ,[PostMarketPrice]
      ,[PostMarketChange]
      ,[ExchangeTimezoneName]
      ,[ExchangeTimezoneShortName]
      ,[GmtOffSetMilliseconds]
      ,[RegularMarketChangePercent]
      ,[RegularMarketPreviousClose]
      ,[Bid]
      ,[Ask]
      ,[BidSize]
      ,[AskSize]
      ,[MessageBoardId]
      ,[FullExchangeName]
      ,[AverageDailyVolume3Month]
      ,[AverageDailyVolume10Day]
      ,[FiftyTwoWeekLowChange]
      ,[FiftyTwoWeekLowChangePercent]
      ,[FiftyTwoWeekHighChange]
      ,[FiftyTwoWeekHighChangePercent]
      ,[FiftyTwoWeekLow]
      ,[FiftyTwoWeekHigh]
      ,[RegularMarketPrice]
      ,[RegularMarketTime]
      ,[RegularMarketChange]
      ,[RegularMarketOpen]
      ,[RegularMarketDayHigh]
      ,[RegularMarketDayLow]
      ,[RegularMarketVolume]
      ,[SharesOutstanding]
      ,[FiftyDayAverage]
      ,[FiftyDayAverageChange]
      ,[FiftyDayAverageChangePercent]
      ,[TwoHundredDayAverage]
      ,[TwoHundredDayAverageChange]
      ,[TwoHundredDayAverageChangePercent]
      ,[MarketCap]
      ,[SourceInterval]
      ,[ExpirationDates]
      ,[Strikes]
      ,[HasMiniOptions]
  FROM [ScanOpts].[dbo].[Quotes]
  WHERE Id = 328
  
  /*
  DELETE [ScanOpts].[dbo].[Quotes]
  WHERE Id = 328
  */